# Ignoriere diese Dateien und Verzeichnisse
/.venv
*.json
*.pdf
.env
/qdrant_storage
__pycache__/
**/__pycache__/
*.py[cod]
**/node_modules/
!benchmarking/**/*.pdf
*.dump
*.snapshot
*.db
*.db*
sandbox_usage.db

# Aber nicht diese Frontend JSON-Dateien
!frontend/*.json