unstructured[pdf]
unstructured-inference
fastapi
pydantic
qdrant-client
langchain-text-splitters
markdownify
python-dotenv
uvicorn
streamlit
umap-learn 
scikit-learn 
numpy
openai
neo4j
rapidfuzz
python-dotenv