unstructured
unstructured-client
python-multipart
fastapi
pydantic
qdrant-client
langchain-text-splitters
markdownify
python-dotenv
uvicorn
umap-learn 
scikit-learn 
numpy
openai
neo4j
rapidfuzz